/*
Theme Name:Samstrap
Description: A plain jane starter theme based on Twitter Bootstrap 3.1.0.
Version: 1.0
License: GNU General Public License v3
License URI: http://www.gnu.org/licenses/gpl.html
Tags: one-column, two-columns, right-sidebar, fluid-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, rtl-language-support, theme-options, translation-ready
Text Domain:samstrap
*/

.sm_bs-container {

}

.sm_bs-header {

}

.sm_bs-header-img {

}

.sm_bs-header-text {

}

.sm_bs-top-menu {

}

.sm_bs-content {

}

.sm_bs-main {

}

.sm_bs-left {

}

.sm_bs-right {

}

.sm_bs-footer-menu {

}

.sm_bs-author-credits {

}

.sm_bs-footer {

}
/*
.default {background-color: darkGoldenrod}
.danger {background-color: red}
.alert {background-color: orange}
.primary {background-color: magenta}
.info {background-color: dodgerblue}
.success {background-color: #00FF00}
*/
.btn-gray-lighter {
  background-color: #696969;
}
#dash-icons{
  margin: 0 auto;
  background: url('http://gallery.repairshopmarketingtools.com/wp-content/uploads/icons/shutterstock_132624674.svg')no-repeat center center;
  background-size: cover;
}
#car-icons {
  margin: 0 auto;
  background: url('http://gallery.repairshopmarketingtools.com/wp-content/uploads/icons/shutterstock_124072405.svg')no-repeat center center;
  background-size: cover;
}
div>div.svg-display {
  width: 300px;
  height: 300px;
}
.speed-a {color: #00FF00}
.speed-b {color: #ADFF2F}
.speed-c {color: #FFD700}
.speed-d {color: #FF8C00}
.speed-e {color: #FF4500}
.speed-f {color: #FF0000}

.dropdown-menu {background-color: #222222;}
.menu-item {color:#e5e5e5;}
.menu-item a:hover {background-color: #333333;}
td,
table>thead>tr>th {
  text-align: center;
}
table,
table>td,
thead>tr>th {
  width: 100%;
}

.table-hover>.table-inverted>tr:hover>td {
  background-color: #555555;
}

.table>thead>tr>th>a,
.table>tbody>tr>th>a,
.table>thead>tr>td>a,
.table>tbody>tr>td>a {
  padding: 0 12px;
}

.center-block {
  display: block;
  margin: 0 auto;
}
.btn-large {
  max-width: 200px;
}