.appearance_page_custom-header #headimg {
    background-repeat: no-repeat;
    border: none;
    background-position: left;
}
#headimg h1 a {
    float: left;
    width: 100%;
    text-decoration: none;
}

#headimg img {
    display: inline-block;
}

#desc {
    float: left;
    width: 100%;
}
.wrap .saved {
    color: white;
    font-size: 1.3em;
    padding: 5px;
    background-color: #275B1E;
}

.wrap .sm-logo {
    float: right;
    margin: 5px;
}


.sm_header_name_desc {
    display: inline-block;
}
